.expense-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid $grey;

  &:last-of-type {
    border: none;
  }

  .placeholder-figure {
    margin: 0;

    > div {
      width: 40px;
      height: 40px;
      background-color: $grey;
    }
  }

  .summary-div, .lent-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .summary-div {
    flex-grow: 1;
    padding-left: 12px;

    > div:first-of-type {
      font-size: 1.6rem;
    }

    > div:last-of-type {
      color: $dark-grey;
      font-size: 1.2rem;
    }
  }

  .lent-div {
    color: $blue;
    text-align: right;

    > div:first-of-type {
      font-size: 1.2rem;
    }

    > div:last-of-type {
      font-size: 1.6rem;
    }
  }
}
