nav {
  display: flex;
  justify-content: space-between;
  background-color: $blue;
  color: #fff;
  font-size: 1.6rem;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 1000;


  a {
    display: inline-block;
    padding: 8px 16px;
    color: #fff;
    font-size: 1.6rem;
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      color: $yellow;
      background-color: $dark-blue;
    }
  }
}

.nav-menu {
  div:first-of-type {
    padding: 8px 16px;
  }

  div:last-of-type {
    background-color: $blue;
  }
}
