@font-face {
  src: url("assets/fonts/Kano.woff") format("woff");
  font-family: Kano;
  font-size: normal;
  font-weight: 400;
}

// https://colorpalettes.net/color-palette-3666/
$black: #191a1d;
$blue: #153e5c;
$light-blue: #87aeb4;
$grey: #cdd4ca;
$yellow: #f2be54;
